@import './variables.scss';

@mixin acertada {
	background-color: $correct-color !important;
	color: $text-color;
}

@mixin noAcertada {
	background-color: $error-color !important;
	color: $text-color;
}

@mixin boton {
	border: none;
	background: $button-color;
	color: $text-color;
	padding: 10px;
	border-radius: 10px;
	font-size: 25px;
	animation: zoom 1.5s infinite linear;
	cursor: pointer;
	transition: .5s;
	&:hover{
		transform: scale(1.1);
	}
}

@mixin respuestas ($background-color) {
	background-color: $background-color;
	display: inline-block;
	width: 60px;
	height: 45px;
	border-radius: 20px;
	border: 5px solid $text-color;
}